#root {
  max-width: 1280px;
  width: 75vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="text"] {
    /* background-color: red; */
    font-size: inherit;
    font-family: inherit;
    padding: 4px;
}

header {
  margin-bottom: 24px;
}

label {
  padding: 4px;
}

input[type="checkbox"] {
    /* background-color: red; */
    margin-right: 8px;
}



.form__buttons {
  display: flex;
  gap: 8px;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
