form {
    display: grid;
    grid-template-columns: 2fr auto;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 4px;
}

input[type="text"] {
    border: 0;
    padding-block: 0;
    padding-inline: 0;
    padding: 16px;
    background-color: transparent;
    border-bottom: 1px solid slategrey;
}

.todo__form {
    margin-top: 32px;
}
