@import './reset.css';
@import './Buttons.css';
@import './Tasks.css';
@import './Header.css';
@import './Footer.css';
@import './AddItem.css';
/* @import './index.css'; */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html {
	color-scheme: dark;
}

#root {
	margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
	body {
		color-scheme: dark;
		color: rgba(255, 255, 255, 0.87);
		background-color: hsl(235, 21%, 11%);
	}

	form,
	.todos__item,
	.filters {
		background-color: hsl(235, 24%, 19%);
	}

	a {
		color: #646cff;
	}
	a:hover {
		color: #535bf2;
	}
	button:hover {
		border-color: #646cff;
		background-color: #505050;
	}
}

body {
	width: 100vw;
	position: relative;
	padding: 2rem;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5;
	font-size: 18px;
	font-weight: 400;

	z-index: -200;
	overflow-x: hidden;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 760px;
	margin: 0 auto;
}

input[type='text'] {
	font-size: inherit;
	font-family: inherit;
}

.filters {
	display: flex;
	grid-template-columns: 1fr 2fr 1fr;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	letter-spacing: 0.5em;
	font-weight: 600;
	text-align: left;
	margin-bottom: 36px;
}

@media (prefers-color-scheme: light) {
	body {
		color-scheme: light;
		color: #213547;
		background-color: hsl(0, 0%, 98%);

		a:hover {
			color: #747bff;
		}

		input[type='text'] {
			color: unset;
		}

		.todos__item {
			&:hover {
				background-color: hsl(234, 39%, 85%);
			}
		}

		input[type='checkbox']::before {
			border-color: #213547;
		}

		form,
		.todos__item,
		.filters {
			background-color: hsl(236, 33%, 92%);
		}
	}
}
